*, *::after, *::before {
    box-sizing: border-box;
}

main {
    background-image: url(../bootstrap-student-portfolio/assets/Images/blue-snow.png);
    padding: 2%;
    background-size: cover;
    background-color: pink;
}

h1 {
    color: plum;
    font-family: 'Shadows Into Light';
    font-size: 34pt;
    padding-top: 2%;
}

.navbar {
    color: white;
    border-bottom: 1pt solid lightgrey;
}

.navbar-brand {
    background: plum;
    margin-left: 20%;
    padding: 2%;
    font-family: 'Comfortaa', cursive;
    color: white;
    font-size: 24pt;
    position: relative;

}
p {
    padding-top: 2%; 
    font-size: 18pt;
    color: grey;
    font-family: 'Shadows Into Light', cursive;
}
.container {
    margin-top: 8%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 8%;
    background: white;
    width: 960px;
    padding-bottom: 2%;
}
#navbarNavDropdown {
    margin-left: 30%;
   
}
.nav-link {
    color: lightgrey;
}
img {
    float: left;
    padding-right: 4%;
    padding-top: 4%;
}
a {
    color: black;
}
.footer {
    height: 10%;
    color: white;
    margin-left: 50%;
}


form {
    padding-bottom: 2%;
}

.containerphoto {
    position: relative;
    margin: 0 auto;
    display: inline-block;
  }
  .containerphoto .content {
    position: absolute;
    bottom: 0;
    background: rgb(253, 173, 233);
    background: rgba(253, 173, 233, 0.8); 
    color: #f1f1f1; 
    padding: 0%;
    width: 200px;
    text-align: center;
  }


@media screen and (max-width:768px) {
    body {
        margin-top: 5%;
    }
    .container {
        width: 200;
    }
}
@media screen and (max-width:640px) {
    body {
        margin-top: 5%;
    }
    .container {
        width: 100;
    }
}