*, *::after, *::before {
    box-sizing: border-box;
}

main {
    background-image: url(../bootstrap-student-portfolio/assets/Images/greek-vase.png);
    position: relative;
    padding: 2%;
    margin-top: 5%;
    margin-bottom: 3%;
    background-size: cover;
}

p {
    padding-top: 2%; 
    font-size: 18pt;
    color: grey;
    font-family: 'Shadows Into Light', cursive;
}

form {
    padding-bottom: 2%;
}

h1 {
    color: plum;
    font-family: 'Shadows Into Light';
    font-size: 34pt;
    padding-top: 2%;
}

h3 {
    font-size: 30pt;
    color: white;
}

h5 {
    font-size: 20pt;
}

img {
    float: left;
    padding-right: 4%;
    padding-top: 2%;
}

a {
    font-family:'Shadows Into Light';
}

.navbar {
    color: white;
    border-bottom: 1pt solid lightgrey;
    text-align: right;
    width: 100%;
}
#navbarTogglerDemo01 {
color: red;
}

.navbar-brand {
    background: plum;
    margin-left: 20%;
    padding: 2%;
    font-family: 'Shadows Into Light';
    color: white;
    font-size: 20pt;
    
}

.container {

    background: lightgray;
    padding-bottom: 2%;
    margin-top: 4%;
    width: 80%;
    position: relative;
}
#navbarNavDropdown {
    margin-left: 20%;
   
}
.nav-link {
    color: lightgrey;
}

.footer {
    height: 10%;
    color: white;
    text-align: center;
    width: 100%;
}

.containerphoto {
    position: relative;
    margin: 0 auto;
    display: inline-block;
  }
  .containerphoto .content {
    position: absolute;
    bottom: 0;
    background: rgb(253, 173, 233);
    background: rgba(253, 173, 233, 0.8); 
    color: #f1f1f1; 
    padding: 0%;
    width: 200px;
    text-align: center;
  }

@media screen and (max-width:768px) {
    body {
        margin-top: 5%;
    }
    .container {
        width: 200;
    }
}
@media screen and (max-width:640px) {
    body {
        margin-top: 5%;
    }
    .container {
        width: 100;
    }
}